body {
  margin: 0;
  padding: 0;
}
.header {
  background-color: black;

  height: 250px;
}
.main {
  background-color: blueviolet;
  height: 250px;
}
.footer {
  background-color: brown;
  height: 253px;
}
